body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
}

main {
  min-height: 600px;
  margin: auto;
  background-color: #B2D6F7;
  border: 1px solid black;
  box-shadow: 0 0 5px #3333;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: ff-meta-headline-web-pro, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

h2 {
  margin: 0;
  margin-left: 20px;
}

.nom {
  max-width: 320px;
  display: flex;
  margin: auto;
  width: 100%;
  color: #D6D63E;
  background: #2E4C96;
  border-radius: 0 0 10px 10px;
  position: sticky;
  top: 0;
  font-weight: 400;
  flex-wrap: nowrap;
  align-items: center;
}

.nom h1 {
  margin: 10px;
}

.center {
 color: #2E4C96;
 align-self: center;
 margin: 5px;
 font-size: 10px;
 font-weight: 300;
}

.left {
  background-color: #D6D63E;
  color: #2E4C96;
  border-radius: 20px 20px 20px 5px;
  margin: 5px 10px;
  padding: 10px;
  align-self: flex-start;
  max-width: 75%;
}

.left .hour {
  display: flex;
  flex-direction: row;
}

.right {
  background-color: #2E4C96;
  color: #D6D63E;
  border-radius: 20px 20px 5px 20px;
  margin: 5px 10px;
  padding: 10px;
  align-self: flex-end;
  max-width: 75%;
}

.right .hour {
  display: flex;
  flex-direction: row-reverse;
}

.hour {
  font-size: 10px;
  font-weight: 700;
}

.discution {
  max-width: 320px;
  width: 100%;
  top: 0;
  font-size: 18px;
  font-weight: 400;  
  background: #2E4C96;
  margin: 5px 0;
}

.discution a {
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: #D6D63E;
  text-decoration: none;
}

.discution img {
  max-width: 40px;
  max-width: 40px;
  border-radius: 50%;
}

.de {
  font-weight: 700;
}